 .find-user{
     text-align: center; 
     display: inline-block;     
     max-width: 32.333333% !important;
     margin-bottom: 10px;
 }

 .img-circle{
     padding-top: 3px;
 }
 
 .count{
    position: relative;
    top: -16px;    
    height: 23px;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    min-width: 22px;
    font-size: 19px;
 }
 
 .news{
     padding-top: 0px;
 }
 
 .post-foto{
     height: 50px;
 }
 
 .data-user{
         background-color: azure;
    border-radius: 46px;
    padding-left: 10px;
 }
 .left_part{
     background-color: white;
 }
 
 .bread{
     padding:  0px;
     margin:  0px;
 }
 
 .msg-foto{
     border-radius: 100%;
     height: 40px;
     width: 40px;
 }

 .private_list{
     list-style: none;
     background-color: #ddd;
     border-radius: 5px;
     cursor: pointer;
 }
 .private_ul{
     padding: 0px;
 }
 
 .center_part{
     margin-left: 4px;
    margin-right: 4px;
    background-color: white;
    max-width: 57.333% !important;
 }
 
 .text_block{
     border-radius: 20px;
    background-color: #f5f8fa;
    margin-top: 10px;
    padding: 10px;
    width: 80%;
 }
 .header_mes{
     background-color: #e8dcf5;
    border-radius: 20px;
 }
 .head_name{
     padding-left: 0px;
 }
 
 .answer{
     float: right;
     background-color: #a3a9ff;
 }
 
 .message{
     padding: 10px;
 }
 
 .new_mess{
     resize: none;
 }
 
 .mess{
         margin-top: 25px;
    margin-bottom: 10px;
 }
 
 .messanger{
     display: block;
     text-align: center;
 }
 
.menu_link{
     text-decoration: none;
 }
 .text_link{
     font-size: 12px;
    font-weight: bold;
    outline: 0; outline-offset: 0;
 }
 .btn_menu{
     margin-right: 20px;
 }
 
.menu_link:visited{
	text-decoration: none !important;
	outline: 0; outline-offset: 0;
	
}
.menu_link:hover{
	text-decoration: none !important;
	outline: 0; outline-offset: 0;
	
}

.menu_link:focus{
	text-decoration: none !important;
	outline: 0; outline-offset: 0;
	
}
.menu_link:active{
	text-decoration: none !important;
	outline: 0; outline-offset: 0;
	
}

.new_post{
    margin-bottom: 35px;
}

.dell_btn{
    float: right;
}
.dropdown-menu{
    padding: 10px;
}

.likedBtn{
    color: #b6d0f3; font-weight:bold; cursor: pointer;
}

.likeBtn{
    color: #007bff; font-weight:bold; cursor: pointer;
}